QDRANT_URL=https://c0dea10e-f348-40ea-bf6a-7ab8ee6b4dae.europe-west3-0.gcp.cloud.qdrant.io:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=instructions
RAG_ENABLED=true
RAG_URL=http://127.0.0.1:7420
RAG_TIMEOUT_MS=5000
EMB_MODEL_REVISION=ab036b023d30b4d1138c4c3bfa9f0c445ab455d6
