OPENAI_API_KEY=api_key            # API-ключ для OpenAI
MAX_CALL_DURATION=300000          # Максимальная продолжительность звонка в миллисекундах (по умолчанию: 5 минут)
RTP_QUEUE_CONCURRENCY=50          # Количество одновременных отправок RTP-пакетов
LOG_RTP_EVERY_N_PACKETS=100       # Логировать статистику RTP каждые N пакетов
ENABLE_RTP_LOGGING=false          # Включить подробное логирование RTP-пакетов
ENABLE_SENT_TO_OPENAI_RECORDING=false  # Сохранять файлы .raw (входящий звук из Asterisk) и .wav (звук, отправляемый в OpenAI)
VAD_THRESHOLD=0.5                 # Порог детекции голоса (от 0 до 1)
VAD_PREFIX_PADDING_MS=300         # время в миллисекундах, добавляемое перед началом речи для точной детекции
VAD_SILENCE_DURATION_MS=700       # продолжительность тишины, после которой считается, что речь закончена
AUDIO_GAIN=1.5                    # Усиление аудио (в настоящее время не используется)
